/Office2007Ribbon/trunk/RibbonDemo/obj
/Office2007Ribbon/trunk/RibbonDemo/bin
/Office2007Ribbon/trunk/System.Windows.Forms.Ribbon/obj

/Office2007Ribbon/trunk/*.suo
/Office2007Ribbon/trunk/System.Windows.Forms.Ribbon/bin
